.login_form {
    margin-top: 50px;
    max-width: 400px; /* Set the max width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #f9f9f9; /* Light background for the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
} 

/* Label styling */
label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    /* text-align: center; */
}


input[type="email"],
input[type="password"] {
    width: 90%; 
    padding: 12px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 16px; 
}

button {
    width: 90%;
    margin-left: auto; 
    margin-right: auto; 
}

input:focus {
    outline: none;
    border-color: #007BFF; 
}