body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: white;
  --grey: rgb(141, 140, 140);
  --grey2: rgb(155, 153, 153);
  --cat-lover-primary: #FC6C85;
  --cat-lover-primary-2: #ea647a;
  --cat-lover-secondary: #E75480;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 3rem;
  width: 4rem;
}

.btn_primary, 
.btn_secondary {
  border-radius: 30px;
  padding: 0.6rem 0;
  font-size: bold;
  border: 1.5px solid var(--grey);
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn_primary {
  background-color: var(--white);
}

.btn_primary:hover {
  background-color: var(--cat-lover-secondary);
}

.btn_secondary {
  color: var(--white);
  background-color: var(--cat-lover-primary);
}

.btn_secondary:hover {
  background-color: var(--cat-lover-primary-2);
}